<span *ngIf="payments != null">
    <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon> {{houseContract.contract_type_str}} installments so far <b>{{payments.length}}</b>, total: <b>{{totalReceivedAmt | currency}}</b>
    <p> 
        <br/>
        <span *ngIf="payments.length > 0">
            <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
            <span *ngFor="let payment of pageSettings.getPaginatedList(); let i = index">
                <p>
                    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                        {{payment.createdAt}}: Received <b>{{payment.payment}}</b> for the date <b>{{payment.paymentDate}}</b>
                        <a href="#" (click)="deletePayment(payment)" title="Delete the payment">
                                (<fa-icon [icon]="['fas', 'cut']"></fa-icon>)
                        </a>

                        <span *ngIf="payment.note != null && payment.note!=''">
                            <br/><fa-icon [icon]="['fas', 'comment']"></fa-icon> {{payment.note}}
                        </span>
                        
                    </p>
            </span>
            <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
        </span>
    </p>
</span>