House

<div id='grad1' class="row justify-content-center">
      
    <table width="100%">
        <tr align="left"><td width="50%">
            <form novalidate #form="ngForm">
                    <div class="form">
         <table>
            <tr>
                <td colspan="2">
                        <div class="field" *ngIf='house.message != ""' style="color:green">
                                <label>Message:</label>
                                <label>{{house.message}}</label>
                              </div>
                              <div class="field" *ngIf='house.errorMessage != ""' style="color:red">
                                <label>Error Message:</label>
                                <label>{{house.errorMessage}}</label>
                              </div>
                              
                </td>
            </tr> 
            
            <tr>
             <td width="20%">
            Name: </td>
            <td><input class="form-control mr-sm-2" [autofocus]="true" name="name" type="text" size="25" [(ngModel)]="house.name" placeholder="House name"/>
                </td>
               </tr>
         <tr>

         <td>
            Description:
            </td>
            <td> 
            <textarea class="form-control mr-sm-2" name="description" [(ngModel)]='house.description' rows="3" cols="30" placeholder="Description"> </textarea>
          </td>
        </tr>
        <tr>
          <td>
            House no., Street:</td>
            <td><input class="form-control mr-sm-2" name="addr1" type="text" size="25" [(ngModel)]="house.addr1" placeholder="House no., Street"/>
          </td>
         </tr>
         <tr>
          <td>
            City, District:</td><td> <input class="form-control mr-sm-2" name="addr2" type="text" size="25" [(ngModel)]="house.addr2" placeholder="City, District"/>
          </td>
          </tr>
          <tr>
         <td>
            Pin/Zip code:</td>
            <td><input class="form-control mr-sm-2" name="addr3" type="text" size="25" [(ngModel)]="house.addr3" placeholder="Pin/Zip code"/>
            </td>
         
          </tr>
         <tr>
             <td>
            State, Country:</td><td>
                 <input class="form-control mr-sm-2" name="addr4" type="text" size="25" [(ngModel)]="house.addr4" placeholder="State,Country"/>
                 </td>
         </tr>

        <tr>
            <td>Total floors:</td><td> <input class="form-control mr-sm-2" name="no_of_floors" type="text" size="25" [(ngModel)]="house.no_of_floors" placeholder="No. of Floors"/>
                </td>
        </tr>

        <tr>
            <td>Total Portions:</td><td> <input class="form-control mr-sm-2" name="no_of_portions" type="text" size="25" [(ngModel)]="house.no_of_portions" placeholder="No. of Portions"/>
                </td>
        </tr>
        
        <tr>
            <td>BHK:</td>
            <td> 
                <input class="form-control mr-sm-2" name="no_of_bedrooms" type="text" size="4" [(ngModel)]="house.no_of_bedrooms" placeholder="No. Of bedrooms"/>
            </td>
        </tr>
         
        <tr>
                <td>Bathrooms:</td>
                <td> 
                    <input class="form-control mr-sm-2" name="no_of_bathrooms" type="text" size="4" [(ngModel)]="house.no_of_bathrooms" placeholder="No. Of bathrooms"/>
                </td>
        </tr>

        <tr>
                <td>Floor No:</td>
                <td> 
                    <input class="form-control mr-sm-2" name="floor_number" type="text" size="4" [(ngModel)]="house.floor_number" placeholder="Floor number"/>
                </td>
        </tr>
         
        <tr>

          <td>
             Community:</td>
             <td width="40%">
                <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="house.community_id">
                </ng-select>
            </td>
          
          </tr>
          <tr>
         
          <td>
            Active? :</td>
            <td>
                <input name="active" [(ngModel)]="house.active" type="checkbox">
            </td>
         
          
          </tr>

          <tr>

                <td>
                   Account:</td>
                   <td width="40%">
                      <ng-select name="account_id" [items]="accounts"
                         bindLabel="note"
                         bindValue="id"
                         placeholder="Account"
                         [(ngModel)]="house.account_id">
                      </ng-select>
                  </td>
                
                </tr>
                <tr>

          <tr align='center' *ngIf="houseService.isReadonlyView() == false">
              <td colspan="2">
                  <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
              </td>
          </tr>
        </table>
          </div>
      </form>
      </td>
      <td *ngIf="!createNewHouse" valign="top">
        <h4r-house-pics [house]="house"></h4r-house-pics>  
        &nbsp;&nbsp;&nbsp;
        <fa-icon [icon]="['fas', 'sync-alt']"  (click)="identifyHouseLocation()" style="cursor:pointer" title="Refresh google map"></fa-icon>
        Refresh location in map
        <div class="container" *ngIf="errorInMap == false">
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
        </div>
      </td>
      <tr *ngIf="!createNewHouse"><td colspan="2" width="100%">
        



        <ul class="nav nav-tabs" *ngIf="!createNewHouse">
                <li class="nav-item">
                  <a class="nav-link active" id="house{{house.id}}-tab-notes" data-toggle="tab" href="#house{{house.id}}-notes"
                      role="tab" attr.aria-controls="house{{house.id}}-notes" attr.aria-selected="true">
                    Notes
                  </a>
                </li>
                <li class="nav-item" *ngIf="houseService.isReadonlyView() == false">
                  <a class="nav-link" id="house{{house.id}}-tab-contracts" data-toggle="tab" href="#house{{house.id}}-contracts"
                      role="tab" attr.aria-controls="house{{house.id}}-contracts" attr.aria-selected="false">
                    Contracts
                   </a>
                </li>
                <li class="nav-item" *ngIf="houseService.isReadonlyView() == false">
                    <a class="nav-link" id="house{{house.id}}-tab-report" data-toggle="tab" href="#house{{house.id}}-report"
                        role="tab" attr.aria-controls="house{{house.id}}-report" attr.aria-selected="false">
                        Performance
                    </a>
                </li>
            </ul>
            
            <div class="tab-content" id="myTabContent" *ngIf="!createNewHouse">
                <div class="tab-pane fade show active"
                    id="house{{house.id}}-notes" role="tabpanel" attr.aria-labelledby="house{{house.id}}-tab-notes">
                      <h4r-house-notes [house]="house"></h4r-house-notes>
                </div>
                <div class="tab-pane fade" 
                    id="house{{house.id}}-contracts" role="tabpanel" attr.aria-labelledby="house{{house.id}}-tab-contracts">
                      <h4r-tab-house-contracts [house]="house"></h4r-tab-house-contracts>
                </div>
                <div class="tab-pane fade" 
                    id="house{{house.id}}-report" role="tabpanel" attr.aria-labelledby="house{{house.id}}-tab-report">
                    <h4r-tab-performance-charts [houseInput]="house"></h4r-tab-performance-charts>
                </div>

                


            </div>

      </td></tr>
      </table>
      
</div>
