House

<div id='grad1' class="row justify-content-center">
      
    <table width="100%">
        <tr align="left"><td width="50%">
            <form novalidate #form="ngForm">
          <div class="field" *ngIf='house.message != ""' style="color:green">
            <label>Message:</label>
            <label>{{house.message}}</label>
          </div>
          <div class="field" *ngIf='house.errorMessage != ""' style="color:red">
            <label>Error Message:</label>
            <label>{{house.errorMessage}}</label>
          </div>
       
         <table><tr>
             <td width="20%">
            Name: </td>
            <td><input [autofocus]="true" name="name" type="text" size="25" [(ngModel)]="house.name" placeholder="House name"/>
                </td>
               </tr>
         <tr>

         <td>
            Description:
            </td>
            <td> 
            <textarea name="description" [(ngModel)]='house.description' rows="3" cols="30" placeholder="Description"> </textarea>
          </td>
        </tr>
        <tr>
          <td>
            House No., Street:</td>
            <td><input name="addr1" type="text" size="25" [(ngModel)]="house.addr1" placeholder="House no., Street"/>
          </td>
         </tr>
         <tr>
          <td>
            City, District:</td><td> <input name="addr2" type="text" size="25" [(ngModel)]="house.addr2" placeholder="City, District"/>
          </td>
          </tr>
          <tr>
         <td>
            Zipcode:</td>
            <td><input name="addr3" type="text" size="25" [(ngModel)]="house.addr3" placeholder="Zip code"/>
            </td>
         
          </tr>
         <tr>
             <td>
            State, Country:</td><td>
                 <input name="addr4" type="text" size="25" [(ngModel)]="house.addr4" placeholder="State,Country"/>
                 </td>
         </tr>

        <tr>
            <td>Total floors:</td><td> <input name="no_of_floors" type="text" size="25" [(ngModel)]="house.no_of_floors" placeholder="No. of Floors"/>
                </td>
        </tr>

        <tr>
            <td>Total Portions:</td><td> <input name="no_of_portions" type="text" size="25" [(ngModel)]="house.no_of_portions" placeholder="No. of Portions"/>
                </td>
        </tr>
        
        <tr>
            <td>BHK:</td>
            <td> 
                <input name="no_of_bedrooms" type="text" size="4" [(ngModel)]="house.no_of_bedrooms" placeholder="No. Of bedrooms"/>
            </td>
        </tr>
         
        <tr>
                <td>Bathrooms:</td>
                <td> 
                    <input name="no_of_bathrooms" type="text" size="4" [(ngModel)]="house.no_of_bathrooms" placeholder="No. Of bathrooms"/>
                </td>
        </tr>

        <tr>
                <td>Floor No:</td>
                <td> 
                    <input name="floor_number" type="text" size="4" [(ngModel)]="house.floor_number" placeholder="Floor number"/>
                </td>
        </tr>

         <tr *ngIf="!createNewHouse">
             <td>
            Land lord:</td><td> 
                {{house.land_lord && house.land_lord.fullName}}
                </td>
         </tr>
        
         <tr *ngIf="!createNewHouse">
             <td>
            Manager:</td><td>
                {{house.property_mgmt_mgr && house.property_mgmt_mgr.fullName}}
                </td>
         </tr>
         
          <tr *ngIf="!createNewHouse">
             <td>
            Tenant:</td><td>
                {{house.tenant && house.tenant.fullName}}
                </td>
         </tr>
         
        <tr>

          <td>
             Community:</td>
             <td width="40%">
                <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="house.community_id">
                </ng-select>
            </td>
          
          </tr>
          <tr>
         
          <td>
            Active? :</td>
            <td>
                <input name="active" [(ngModel)]="house.active" type="checkbox">
            </td>
         
          
          </tr>
          <tr align='center'>
              <td colspan="2">
                  <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
              </td>
          </tr>
        </table>
      </form>
      </td>
      <td *ngIf="!createNewHouse" valign="top">
        <h4r-house-pics [house]="house"></h4r-house-pics>    
      </td>
      <tr *ngIf="!createNewHouse"><td colspan="2" width="100%">
        <h4r-house-notes [house]="house"></h4r-house-notes>
      </td></tr>
      </table>
      
</div>
