<!--<div class="row justify-content-center" *ngIf="isUserlogin == false"> -->
<div class="bg-img">
 <div class="row justify-content-center">
      <form novalidate #form="ngForm">
          <div class="field">
          <p><input name="username" placeholder="Login Id" class="form-control" [(ngModel)]="usersession.login" [autofocus]="true"/></p> 
           </div>
           
           <div class="field">         
          <p><input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="usersession.password"/></p>
           </div>
           
         <p><button type="submit" class="btn btn-success my-1" (click)="login()">Login</button></p>
         
         <a href="#" (click)= "newUserClicked()">New user?</a>
         <br />
         <a href="#" (click)= "forgotPassword()">Forgot password?</a>
        </form>
</div>

</div>

<div class="container">
    
    <p>Find beautiful house for rent</p>
    
    <div class="row">
        
        <div class="col-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tortor ligula, egestas at tellus sed, consequat elementum arcu. Nunc neque mauris, viverra id lectus maximus, dictum faucibus leo. Vestibulum erat nisi, ullamcorper vel erat consequat, tincidunt consequat lorem. Morbi ut tristique lacus. Suspendisse et fringilla diam. In dapibus scelerisque urna, in ultrices ante aliquet sed. Fusce sodales id nulla at malesuada.</p>    
        </div> 
       
        <div class="col-4">
            <img src="background1.jpg" />           
        </div>
        
    </div>
    
</div>

<div class="container" style="margin-top:70px">

  <div class="row">

    <div class="col-4">

      <img src="letters1.jpg">

    </div>

    <div class="col-8">

      <p id="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tortor ligula, egestas at tellus sed, consequat elementum arcu. Nunc neque mauris, viverra id lectus maximus, dictum faucibus leo. Vestibulum erat nisi, ullamcorper vel erat consequat, tincidunt consequat lorem. Morbi ut tristique lacus. Suspendisse et fringilla diam. In dapibus scelerisque urna, in ultrices ante aliquet sed. Fusce sodales id nulla at malesuada.</p>

    </div>

  </div>

</div>
    
