<!--<div class="row justify-content-center" *ngIf="isUserlogin == false"> -->

 <div class="row justify-content-center bg-img">
      <form novalidate #form="ngForm" class="form-inline my-2 my-lg-0">
          <div class="form custom">
              <div class="field" style="z-index:100px;" *ngIf='errorMessage != ""' style="color:red">
                  <label>{{errorMessage}}</label>
                </div>
          <div class="field">
          <p><input class="form-control mr-sm-2" name="username" placeholder="Login Id" [(ngModel)]="usersession.login" [autofocus]="true"/></p> 
           </div>

           <div class="field">         
          <p><input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" [(ngModel)]="usersession.password"/></p>
           </div>
           
         <p><button type="submit" class="btn btn-success my-1" (click)="login()">Login</button></p>
         
         <a href="#" (click)= "newUserClicked()">New user?</a>
         <br />
         <a href="#" (click)= "forgotPassword()">Forgot password?</a>
         </div>
        </form>
</div>




    
