.bg-img{
  
  
  width:100%;
  height:100%;
 
  
  background-image: url(blossom.jpg);
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}

form{
  
  height:800px;
  margin-top:80px;
  
}
