<table width="40%">
    <tr>
        <td width="30%">
    Users <a routerLink="../newUser">(+)</a>
        </td>
        <td width="70%" *ngIf="isAdminUser()">
        <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="community_id"
                   (change)="refreshUsersList()">
           </ng-select>
        </td>
    </tr>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
 <table>
  <tr>
    <th>User</th>
    <th>Login</th> 
    <th>Email</th>
    <th>Role</th>
    <th>Avatar</th>
    <th>Community</th>
    <th>Admin?</th>
    <th>Reset Cred</th>
  </tr>
  <tr *ngFor="let user of pageSettings.getPaginatedList()">
    <td>
        <a routerLink="../editUser/{{user.id}}">{{user.fullName}} (
        <fa-icon *ngIf="user.sex == 1" [icon]="['fas', 'male']"></fa-icon>
        <fa-icon *ngIf="user.sex == 2" [icon]="['fas', 'female']"></fa-icon>
        <fa-icon *ngIf="user.sex == 0" [icon]="['fas', 'transgender']"></fa-icon>
        )
    </a></td>
    <td>{{user.login}}</td>
    <td>{{user.email}}</td>
    <td>{{user.roleStr}}</td>
    <td><img [src]="user.avatarURL" height="30" width="30"></td>
    <td>{{user.community && user.community.name}}</td>
    <td><input *ngIf="((currentUser.id !=user.id) || (currentUser.admin != true))" type="checkbox" [(ngModel)]="user.promote2Admin" (change)="promoteUser(user)"></td>
    <td><a *ngIf="currentUser.admin == true" href="#" (click)="resetPasswordAdmin(user)" >Click</a></td>
  </tr>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
