<table width="80%">
    <tr>
        <td width="20%">
    Users <a routerLink="../newUser">(+)</a>
        </td>
        <td width="25%" *ngIf="isAdminUser()">
        <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="community_id"
                   (change)="refreshUsersList()">
           </ng-select>
        </td>
        <td width="25%">
                <input type="checkbox" [(ngModel)]="activeRecords" (ngModelChange)="filterActiveRecords()"> Active
                <input type="checkbox" [(ngModel)]="inactiveRecords" (ngModelChange)="filterActiveRecords()"> Inactive
        </td>
        <td width="30%">
           Search
          <input [(ngModel)]="keyword" (ngModelChange)="filterAsYouType()"> 
        </td>
    </tr>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
 <table width="100%"> 
  <tr>
    <th width="17%">User</th>
    <th>Login</th> 
    <th>Email</th>
    <th>Avatar</th>
    <th>Community</th>
    <th title="Subscription years">#</th>
    <th title="subscription end date">Ends(d-m-y)</th>
    <th>Joined</th>
    <th>Admin?</th>
    <th *ngIf="currentUser.admin == true">Actions</th>
  </tr>
  <tr *ngFor="let user of pageSettings.getPaginatedList()" [ngStyle]="{'color':user.active? '' : '#959ba5' }">
    <td>
        <a routerLink="../editUser/{{user.id}}">{{user.fullName}} (
        <fa-icon *ngIf="user.sex == 1" [icon]="['fas', 'male']"></fa-icon>
        <fa-icon *ngIf="user.sex == 2" [icon]="['fas', 'female']"></fa-icon>
        <fa-icon *ngIf="user.sex == 0" [icon]="['fas', 'transgender']"></fa-icon>
        )
    </a></td>
    <td>{{user.login}}</td>
    <td>{{user.email}}</td>
    <td><img [src]="user.avatarURL" height="30" width="30"></td>
    <td>{{user.community && user.community.name}}</td>
    <td>
        <input *ngIf="(user.active == true) && (user.admin != true)" type="text" [(ngModel)]="user.subscriptionType" name="subscriptionType" size="2" (change)="changeSubscription(user)"/>
        <label *ngIf="user.admin == true">{{user.subscriptionType}}</label>
        <label *ngIf="user.active == false">{{user.subscriptionType}}</label>
    </td>
    <td>{{user.subscriptionEndDate}}</td>
    <td>{{user.createdAt}}</td>
    <td><input *ngIf="(user.active == true) && ((currentUser.id != user.id) || (currentUser.admin != true))" type="checkbox" [(ngModel)]="user.promote2Admin" (change)="promoteUser(user)"></td>
    <td>
        <div *ngIf="currentUser.admin == true" class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a *ngIf="user.active==true" class="dropdown-item" title="Reset user's login password." 
                                    href="#" (click)="resetPasswordAdmin(user)">Password reset</a>
                  <a *ngIf="user.active==true" class="dropdown-item" title="Update user entitlement"
                                    href="#" routerLink="../userentitlement/{{user.id}}">Entitlement</a>
                  <a *ngIf="user.active==false" class="dropdown-item" title="Activate the user." 
                                    href="#" (click)="activateUser(user)">Activate</a>
                  <a *ngIf="user.active==true" class="dropdown-item" title="Inactivate the user." 
                                    href="#" (click)="inactivateUser(user)">Inactivate</a>
                </div>
        </div>    
    </td>
  </tr>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
