<h4>Notification Type</h4>

<div id='formDiv' class="row justify-content-center">
      <form novalidate #form="ngForm">

          <div class="field" *ngIf='notificationType.message != ""' style="color:green">
            <label>Message:</label>
            <label>{{notificationType.message}}</label>
          </div>
          <div class="field" *ngIf='notificationType.errorMessage != ""' style="color:red">
            <label>Error Message:</label>
            <label>{{notificationType.errorMessage}}</label>
          </div>
       
         
             <div class="field">
          
            <p>Subject: 
                <input [autofocus]="true" name="subject" type="text" size="25" [(ngModel)]="notificationType.subject" placeholder="Subject"/>
             </p>
          
          </div>
    
         <div class="field">
              
              <p>Content: 
                  <textarea name="content" [(ngModel)]='notificationType.content' rows="3" cols="50" placeholder="Content:Welcome to H4R, We are excited to have you in H4R family. --H4R Team">                             
                    </textarea>
                    </p>          
          </div>
          
            <div class="field">
            <p>
                Type:<ng-select [items]="noticeTypeOptions"
                   bindLabel="description"
                   bindValue="id"
                   placeholder="Select Type"
                   [(ngModel)]="notificationType.ntype">
                </ng-select>
            </p>
          </div>
          
        
          <div class="field">
          
            <p>Active? :
                <input name="active" [(ngModel)]="notificationType.active" type="checkbox">
            </p>
         
          </div>
         
       
          <br />
          
        <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
        
      </form>
</div>
