

h4{
  color:green;
}

p {
  text-align:left;
  font-size:100%;
}

p input {
  float:right;
}


p ng-select  {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding-left: 45px
}

#gender {
  padding-left: 45px;
}