<h4 title="Notes"><fa-icon [icon]="['fas', 'comments']"></fa-icon>({{pageSettings.list.length}})</h4>
<div style="text-align:left"> 
    <br/>
    <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
        <span *ngFor="let houseContractNote of pageSettings.getPaginatedList(); let i = index">
            <h4r-house-contract-note [houseContractNote] = "houseContractNote" (onDeleteNoteClick)="deleteNote($event)"></h4r-house-contract-note>
        </span>
    <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
    <br/>
    <span>
        <input type="checkbox" name="private_note" [(ngModel)]='newHouseContractNote.private_note' /> Private note?
        <br/>
         <textarea name="content" [(ngModel)]='newHouseContractNote.note' rows="3" cols="50" placeholder="Note"></textarea>
        <br/>
         <button type="button" class="btn btn-success"  (click)="attachHouseContractNote()">Save Note</button>
    </span>      
</div>
