  Notification Type List
  <table>
      
    <tr>
        <th>Subject</th>
        <th>Content</th>
        <th>Type</th>
    </tr>
        <tr *ngFor="let notificationType of notificationTypes" 
            [ngStyle]="{'color':notificationType.active? '' : '#959ba5'}">
            <td><a routerLink="../notificationType/{{notificationType.id}}">{{notificationType.subject}}</a></td>
            <td>{{notificationType.content}}</td>
            <td>{{notificationType.ntype}}</td>
        </tr>
  </table>

