<h5>Reset password</h5>

<div id='formDiv' class="row justify-content-center">
      <form novalidate #form="ngForm" class="form-inline my-2 my-lg-0">
       
         <div class="form">
            <div class="field" *ngIf='message != ""' style="color:green">
                <label>{{message}}</label>
              </div>
              <div class="field" *ngIf='errorMessage != ""' style="color:red">
                <label>{{errorMessage}}</label>
              </div>
                        
         <div class="field">
         
            <p>Login ID: <input class="form-control mr-sm-2" [autofocus]="true" name="login" [(ngModel)]="user.login" type="text" size="25" placeholder="Login ID"></p>
        
          </div>
          
         <div class="field">
          
          <p>Email: <input class="form-control mr-sm-2" name="email" type="text" [(ngModel)]="user.email" size="25" placeholder="Email"></p>
         
          </div>
    
              
         <div class="field">
         
         <p>Identification: <input class="form-control mr-sm-2" name="adhaar_no" [(ngModel)]="user.adhaar_no" type="text" size="25" placeholder="Aadhar or Driving license No"></p>
         
          </div>
          
         
         <div class="field">
            <p>Gender:
              <span id="radio_gender"> 
                  <fa-icon id="gender" style="cursor:pointer" [ngStyle]="{'color':user.sex!= 1? '#292d2a54' : '' }" [icon]="['fas', 'male']" (click)="changeGender(1)"></fa-icon> Male&nbsp;&nbsp;
                  <fa-icon style="cursor:pointer" [ngStyle]="{'color':user.sex!= 2? '#292d2a54' : '' }" [icon]="['fas', 'female']" (click)="changeGender(2)"></fa-icon> Female&nbsp;&nbsp;
                  <fa-icon style="cursor:pointer" [ngStyle]="{'color':user.sex!= 0? '#292d2a54' : '' }" [icon]="['fas', 'transgender']" (click)="changeGender(0)"></fa-icon> Other&nbsp;&nbsp;
              </span>
            </p>
          </div>
  
          <div class="field">
              
            <p>Password: <input class="form-control mr-sm-2" name="password" [(ngModel)]="user.password" type="password" size="25" placeholder="Password"></p>
        
          </div>
          
           <div class="field">
        
           <p>Confirm Password: <input class="form-control mr-sm-2" name="password_confirmation" [(ngModel)]="user.password_confirmation" type="password" size="25" placeholder="Confirm Password"></p>
          
          </div>
          
          <br/>
          
          <button type="button" class="btn btn-success btn-md"  (click)="forgotPassword()">Reset</button>
          
      </div>  
         
        
      </form>
      
</div>
