h5{
  
  color:green;
  
}

.form{
  
  width:100%;
  margin-top:20px;
 
}

p {  
  text-align:left;
  
}

p input  {
  float:right;
  border-radius:4px;
  border: 1px solid #cccccc;
  position:relative;
}

span#radio_gender {
 margin-left:80px;
}

.field1{
  float:left;
  margin-bottom:10px;
}
