<table width="40%">
    <tr>
        <td width="30%">
    Houses <a routerLink="../house/-1">(+)</a>
        </td>
        <td width="70%">
        <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="community_id"
                   (change)="fetchHouses()">
           </ng-select>
        </td>
    </tr>
</table>

  <table>
      <tbody>
    <tr>
        <th>House</th>
        <th>Address</th>
        <th>Description</th>
        <th>No. of floors</th>
        <th>Land lord</th>
        <th>Tenant</th>
        <th>Community</th>
    </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let house of houses"  [ngStyle]="{'color':house.active? '' : '#959ba5' }">
            <td><a routerLink="../house/{{house.id}}">{{house.name}}</a></td>
            <td>{{house.addr1}}, {{house.addr2}}<br/>{{house.addr3}}, {{house.addr4}}</td>
            <td>{{house.description}}</td>
            <td>{{house.no_of_floors}}</td>
            <td>{{house.land_lord && house.land_lord.fullName}}</td>
            <td>{{house.tenant && house.tenant.fullName}}</td>
            <td>{{house.community && house.community.name}}</td>
        </tr>
    </tbody>
  </table>

