<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Notes</a>
</nav>
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
    <!--<h4r-login (onLoginClick)="validateLogin($event)" [isUserlogin] = "userLoggedin"></h4r-login> -->
    <h4r-login (onLoginClick)="validateLogin($event)"  *ngIf="userLoggedin == false"></h4r-login>
    <h4r-notifications *ngIf="userLoggedin == true"></h4r-notifications>

</div>
