<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Notes</a>
</nav>
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
   <div class="row justify-content-center" *ngIf="isUserlogin == false">
    <h4r-login (onLoginClick)="validateLogin($event)"></h4r-login>
   </div>
   <div class="row justify-content-center" *ngIf="isUserlogin == true">
    <h4r-notifications></h4r-notifications>
   </div>
</div>
