<table width="100%">
<tr *ngIf="errorMessage != ''">
    <td>{{errorMessage}}</td>
</tr>
<tr *ngIf="houseContractPics.length > 0">
    <td>
        Pictures::
        <a (click)="prevImage()" href="#" title="Previous picture"><fa-icon [icon]="['fas', 'backward']"></fa-icon></a>
        ({{viewIndex+1}}/{{houseContractPics.length}})
        <a (click)="nextImage()" href="#" title="Next picture"><fa-icon [icon]="['fas', 'forward']"></fa-icon></a>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="deleteImage()" href="#" title="Delete the picture">(<fa-icon [icon]="['fas', 'cut']"></fa-icon>)</a>
        
        <span *ngFor="let houseContractPic of houseContractPics; let i = index">
            <h4r-pic-album [housePic]="houseContractPic" *ngIf="(i===viewIndex)"></h4r-pic-album>
        </span>
    </td>
    </tr>
    <tr>
    <td>
        <input name="avatar" type="file" (change)="handleFileInput($event)">
        <br/>
         <input name="about_pic" type="text" size="25" [(ngModel)]="newHouseContractPic.about_pic" placeholder="Describe">
            <button type="button" class="btn btn-success"  (click)="attachContractPic()">Attach</button>
    
    </td>
    </tr>
</table>
