<table width="100%">
<tr *ngIf="errorMessage != ''">
    
    <td>{{errorMessage}}</td>
</tr>
<tr *ngIf="housePics.length > 0">
    <td>
        Pictures::
        <a (click)="prevImage()" href="#" title="Previous picture"><fa-icon [icon]="['fas', 'backward']"></fa-icon></a>
        ({{viewIndex+1}}/{{housePics.length}})
        <a (click)="nextImage()" href="#" title="Next picture"><fa-icon [icon]="['fas', 'forward']"></fa-icon></a>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="deleteImage()" href="#" title="Delete the picture">(<fa-icon [icon]="['fas', 'cut']"></fa-icon>)</a>
        
        <span *ngFor="let housePic of housePics; let i = index" (click)="zoom()">
            <h4r-pic-album [housePic]="housePic" *ngIf="(i===viewIndex)" [imageWidth]="imageWidth" [imageHeight]="imageHeight"></h4r-pic-album>
        </span>
    </td>
    </tr>
    <tr>
    <td>
    
        <input name="avatar" type="file" (change)="handleFileInput($event)">
        <br/>
         <input name="about_pic" type="text" size="25" [(ngModel)]="newHousePic.about_pic" placeholder="Describe">
            <button type="button" class="btn btn-success"  (click)="attachHousePic()">Attach It</button>
    </td>
    </tr>
</table>




