<table width="100%">
<tr *ngIf="errorMessage != ''">
    
    <td>{{errorMessage}}</td>
</tr>
<tr *ngIf="housePics.length > 0">
    <td>
        Pictures::
        <a (click)="prevImage()" href="#" title="Previous picture">&lt;&lt;&lt;</a>
        ({{viewIndex+1}}/{{housePics.length}})
        <a (click)="nextImage()" href="#" title="Next picture">&gt;&gt;&gt;</a>
        
        &nbsp;<a (click)="deleteImage()" href="#" title="Delete the picture">(X)</a>
        
        <span *ngFor="let housePic of housePics; let i = index">
            <h4r-pic-album [housePic]="housePic" *ngIf="(i===viewIndex)"></h4r-pic-album>
        </span>
    </td>
    </tr>
    <tr>
    <td>
    
        <input name="avatar" type="file" (change)="handleFileInput($event)">
        <br/>
         <input name="about_pic" type="text" size="25" [(ngModel)]="newHousePic.about_pic" placeholder="Describe">
            <button type="button" class="btn btn-success"  (click)="attachHousePic()">Attach</button>
    
    </td>
    </tr>
</table>
