<h4>Receivables</h4>

<div id='formDiv' class="row justify-content-center">
      <form novalidate #form="ngForm">

          <div class="field" *ngIf='houseContract.message != ""' style="color:green">
            <label>{{message}}</label>
          </div>
          <div class="field" *ngIf='houseContract.errorMessage != ""' style="color:red">
            <label>{{errorMessage}}</label>
          </div>
       
         <table colspan="2">
          <tr>
            <td>
                <div class="field">
          
                <p>House: <b>{{houseContract.house.name}}</b></p>
          
                </div>
            </td>
          </tr> 

          <tr>
            <td>
                <div class="field">
          
                <p>User: <b>{{houseContract.user.fullName}} ({{houseContract.roles}})</b>

                 </p>
          
                </div>
            </td>
          </tr>

          <tr>
            <td>
                <div class="field">
          
                <p>Contract Start Date(dd-mm-yyyy): {{houseContract.contract_start_date}}</p>
          
                </div>
            </td>
          </tr>

            <tr>
            <td>
                <div class="field">
          
                <p>Contract End Date(dd-mm-yyyy): {{houseContract.contract_end_date}}</p>
          
                </div>
            </td>
          </tr>

          <tr>
            <td>
                <div class="field">
          
                <p>Annual Contract Amount: {{houseContract.annual_rent_amount}}</p>
          
                </div>
            </td>
          </tr>

          <tr>
            <td>
                <div class="field">
          
                <p>Monthly Contract Amount: {{houseContract.monthly_rent_amount}}</p>
          
                </div>
            </td>
          </tr>

          <tr><td><div class="field">
              
              <p>Payment: 
                  <input type="text" name="payment" [(ngModel)]="payment.payment">
                    </p>          
          </div></td></tr>

            <tr><td><div class="field">
              
              <p>Received Date: 
                  <input type="text" name="payment_date" [(ngModel)]="payment.payment_date">
                    </p>          
          </div></td></tr>
          
          <tr><td><div class="field">
              
              <p>Note: 
                  <textarea name="content" [(ngModel)]='payment.note' rows="3" cols="50" placeholder="Payment notes">                             
                    </textarea>
                    </p>          
          </div></td></tr> 
          
        </table>
          <br />
          
        <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
        
      </form>
      <h4r-received-payments [payments]="payments"  (onDeletePaymentClick)="deletePayment($event)"></h4r-received-payments>
</div>