
  <h4>
    Welcome to MaaGhar!
  </h4>

  Thank you for visiting our prestagious housing community board.
<br/>
<br/>
<span>
  <div>
    <b>As a Tenant:</b> 
    You can search for houses and their location. 
    Get a feel of a house by looking at their pictures and its geographical location.
  </div>
  <br/>
  <div>
    <b>As a Landlord:</b> 
    You have the full secure accessiblilty to your house like, scanned house documents, 
    create contracts between different users like tenant, agent and general contractor. 
    Manage payments and receivables. Access monthly and annual reports in the form of graphs.
  </div>
</span>
