
  <h4>
    Welcome to MaaGhar!
  </h4>

Thank you for visiting our prestagious housing community board.
<br/>
<br/>
<span >
  <div align="center">
    <p style='text-align: justify;'>
      <b>As a Tenant:</b> 
      Search houses and their location. 
      Get a feel of a house by viewing its pictures and geographical location.
    </p>
  </div>
  <div align="center">
    <p style='text-align: justify;'>
      <b>As a Landlord:</b> 
      Create and manage your properties and their documents. 
      Make your property details like address and house pics viewable online.
      Establish relations between your property and the different persons
      like tenant, contractor, accountant and agent. 
      Secure your property documents by uploading them in the form of "jpeg, gif and png" which are accessible to authorized users only.
      Contract agreements between 2 parties are accessible to both the parties.
      Landlords and property managers can manage payments and receivables of your property. 
      Access annual and monthly reports based on the income/expediture of a contract.
      <br/>
      <i>Note:</i> House pictures are accessbile in the public search for users to view the house online.
      We recommend not to expose person faces in the house pictures.
    </p>
  </div>

    <div align="center">
        <p style='text-align: justify;'>
          <b>Vision:</b> 
          Our vision is to establish a simple and secure relation between property and the persons.
        </p>
    </div>

    <div align="center">
        <p style='text-align: justify;'>
          <b>Write to us:</b> 
          MaaGhar.com team always strive to provide simple and secure way to our customers to manage their.
          We value your feedback and suggestions. Please leave your feedback, comments or suggestions.
          We will respond to you as soon as posssible.
        </p>
      </div>
</span>
