
  <h4>
    Welcome to MaaGhar!
  </h4>
  <br/>
Thank you for visiting our prestagious housing community board. 
<br/>Place for people's property management
<br/>
<br/>
<span >
  <div align="center">
    <p style='text-align: justify;'>
      <b>As a Tenant:</b> 
      Search houses and their location. 
      Get a feel of a house by viewing its pictures and geographical location.
    </p>
  </div>
  <br/>
  <div align="center">
    <p style='text-align: justify;'>
      <b>As a Landlord:</b> 
      Create and manage your properties and their documents. 
      Make your property details like address and its pictures accessible online.
      Establish relations between your property and the different persons
      like tenant, contractor, accountant and agent. 
      Secure your property documents by uploading them in the form of "jpeg, gif and png" which are accessible by your authorized persons only.
      Landlords and property managers can manage payments and receivables of your property. 
      Access annual and monthly reports based on the income/expediture of a contract.
      <br/>
      <i><b>Note:</b></i> House pictures are accessbile in the public search.
      We recommend not to expose person faces in house pictures.
    </p>
  </div>
  <br/>
    <div align="center">
        <p style='text-align: justify;'>
          <b>Vision:</b> 
          Our vision is to establish a simple and secure relation between property and the persons.
        </p>
    </div>
    <br/>
    <div align="center">
        <p style='text-align: justify;'>
          <b>Write to us:</b> 
          MaaGhar.com team always strive to provide our customers simple and secure way to manage their properties.
          We value your feedback. Please leave your feedback comments and suggestions in the "Write to us" section and
          We will respond to you as soon as posssible.
        </p>
      </div>
</span>
