<br/>

<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
<table width="50%">
  <tr>
      <th width="25%">Date</th>
      <th width="5%">Amount</th>
  </tr>
  </tbody>
  <tbody>
      <tr *ngFor="let marking of pageSettings.getPaginatedList()">
          <td>{{marking.markingDate}}</td>
          <td>{{marking.amount | currency}}</td>
      </tr>
  </tbody>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
<table width="50%">
    <tr>
        <td>
            <nvd3 #discreteBarChartAccountMarkingTag  [options]="discreteBarChartAccountMarkingOptions" [data]="discreteBarChartAccountMarkingIncome"></nvd3>
        </td>
    </tr>
</table>