<nav class="navbar custom navbar-expand-md navbar-dark bg-dark fixed-top">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="" href="#" title="Home">
                <img *ngIf="isUserLogin()" width="25" height="25" [src]="userPic" alt="{{userName}}"  title="{{userName}}">
                {{userName}}
            </a>
          </li>
          
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="notifications" *ngIf="isUserLogin()" title="Notifications">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>({{notifications.length}})
            <!--<fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>-->
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="newUser" title='Create new user profile'>
            <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="login" *ngIf="!isUserLogin()">
            Login
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="about" title='About us'>
            <fa-icon [icon]="['fas', 'newspaper']"></fa-icon> About
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="editUser/-1" *ngIf="isUserLogin()" title="Edit my profile">
            <fa-icon [icon]="['fas', 'edit']"></fa-icon>Profile
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isUserLogin()" title="Services">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="['fas', 'barcode']" class='fa-lg'></fa-icon>
          </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="../users" *ngIf="isAdminUser()" title="Users">
            <fa-icon [icon]="['fas', 'users']"></fa-icon> Users
          </a>
          <a class="dropdown-item" href="#" routerLink="../houses" title="Houses">
            <fa-icon [icon]="['fas', 'home']"></fa-icon> Houses
          </a>
          <a class="dropdown-item" href="#" routerLink="../houses_users" title="User and house associations">
            <fa-icon [icon]="['fas', 'users']"></fa-icon><fa-icon [icon]="['fas', 'arrows-alt-h']"></fa-icon><fa-icon [icon]="['fas', 'home']"></fa-icon> Associations
          </a>
          <a class="dropdown-item" href="#" routerLink="../house_contracts" title="House contracts">
            <fa-icon [icon]="['fas', 'handshake']"></fa-icon> House contracts
          </a>
          <a class="dropdown-item" href="#" *ngIf="isAdminUser()" routerLink="../communities" title="Co-op/Condos/Town houses">
            <fa-icon [icon]="['fas', 'building']"></fa-icon> Communities
          </a>
          <a class="dropdown-item" href="#" routerLink="../notificationTypes" title="Notification types" *ngIf="isAdminUser()">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon> Notification types
          </a>
          <a class="dropdown-item" href="#" routerLink="../performance" title="Notification types">
            <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon> Performance
          </a>
          <a class="dropdown-item" href="#" routerLink="../tickets" title="Support tickets">
            <fa-icon [icon]="['fas', 'ticket-alt']"></fa-icon> Tickets
          </a>
        </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="../ticket/-1" title="We take your feedback seriously">
                <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon> Write to us
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#" (click)="logoutClicked()" *ngIf="isUserLogin()" title="Logout">
                <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" style="color:#c67878;padding-left:10px">Welcome to MaaGhar</a>
        </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search homes" aria-label="Search" [(ngModel)]="search" name='Search'>
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="houseSearch()"><fa-icon [icon]="['fas', 'search']"></fa-icon><fa-icon [icon]="['fas', 'home']"></fa-icon></button>
    </form>
  </div>
</nav>

