<h4>House Contract({{getMonthsDuration()}})</h4>

<div id='formDiv' class="row justify-content-center">
    <table width="100%">
      <tr><td width="50%">
      <form novalidate #form="ngForm">

          <div class="field" *ngIf='houseContract.message != ""' style="color:green">
            <label>Message:</label>
            <label>{{houseContract.message}}</label>
          </div>
          <div class="field" *ngIf='houseContract.errorMessage != ""' style="color:red">
            <label>Error Message:</label>
            <label>{{houseContract.errorMessage}}</label>
          </div>
       
         <table colspan="2">
          <tr>
          	<td>
            	<div class="field">
          
	            <p>House: <b>{{houseContract.house.name}}</b>
	                       <b title="Contract is about to expire" class="orange" *ngIf="(houseContract.isRenewable == true)">(Renew Contract)</b>
                         <a href="#" *ngIf="houseContract.next_contract_id != null && houseContract.next_contract_id != 0" 
                                routerLink="../../house_contract/{{houseContract.next_contract_id}}" title="Next contract">
                                <fa-icon [icon]="['fas', 'forward']"></fa-icon>
                                </a>

	             </p>
          
          		</div>
          	</td>
          </tr>	

          <tr>
          	<td>
            	<div class="field">
          
	            <p>User: <b>{{houseContract.user.fullName}} ({{houseContract.roles}})</b>

	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
          	<td>
            	<div class="field">
	            <p>Contract Start Date(dd-mm-yyyy): 
                  <h4r-date-picker (onDateChanged)="startDateChanged($event)" #contractStartDate name="contract_start_date" value="{{houseContract.contract_start_date}}"></h4r-date-picker>
	             </p>
          
          		</div>
          	</td>
          </tr>

			<tr>
          	<td>
            	<div class="field">
	            <p>Contract End Date(dd-mm-yyyy): 
                <h4r-date-picker (onDateChanged)="endDateChanged($event)" #contractEndDate name="contract_end_date" value="{{houseContract.contract_end_date}}"></h4r-date-picker>
	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
                <td>
                  <div class="field">
                  <p>Contract Type: 
                        <input name="contract_type" [value]=1 type="radio" [(ngModel)]="houseContract.contract_type"> Income&nbsp;&nbsp;
                        <input name="contract_type" [value]=2 type="radio" [(ngModel)]="houseContract.contract_type"> Expense
                   </p>
            
                    </div>
                </td>
            </tr>

          <tr>
          	<td>
            	<div class="field">
          
	            <p>Total Contract Amount: <input type="text" name="annual_rent_amount" [(ngModel)]="houseContract.annual_rent_amount" />

	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
          	<td>
            	<div class="field">
          
	            <p>Installment Contract Amount: <input type="text" name="monthly_rent_amount" [(ngModel)]="houseContract.monthly_rent_amount" />

	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr><td><div class="field">
              
              <p>Contract Details: 
                  <textarea name="content" [(ngModel)]='houseContract.note' rows="3" cols="50" placeholder="Contract Details">                             
                    </textarea>
                    </p>          
          </div></td></tr>

          <tr><td><div class="field">
              
              <p>Active?: 
                  <td><input type="checkbox" name="active" [(ngModel)]="houseContract.active"></td>
                    </p>          
          </div></td></tr>
          <tr>
            <td>
                <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
            </td>
          </tr>
        </table>

      </form>
      </td>
      <td>
          <h4r-house-contract-pics *ngIf="newContract == false" [houseContract]="houseContract"></h4r-house-contract-pics>
      </td>
      </tr><tr>
      <td colspan="2" width="100%">
          <h4r-house-contract-notes *ngIf="newContract == false" [houseContract]="houseContract"></h4r-house-contract-notes>
      </td>
  </tr>
  </table>
</div>
