<h4>House Contract</h4>

<div id='formDiv' class="row justify-content-center">
    <table width="100%">
      <tr><td width="50%">
      <form novalidate #form="ngForm">

          <div class="field" *ngIf='houseContract.message != ""' style="color:green">
            <label>Message:</label>
            <label>{{houseContract.message}}</label>
          </div>
          <div class="field" *ngIf='houseContract.errorMessage != ""' style="color:red">
            <label>Error Message:</label>
            <label>{{houseContract.errorMessage}}</label>
          </div>
       
         <table colspan="2">
          <tr>
          	<td>
            	<div class="field">
                House: 
                    <a href="#"
                        routerLink="../../house/{{houseContract.house.id}}" title="House details">
                        <b>{{houseContract.house.name}}</b>    
                    </a>

                    &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" *ngIf="newContract == false">
                        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" title="Contract is about to expire. Current contract will be inactivated after renew." 
                                            href="#" *ngIf="(houseContract.isRenewable == true)"
                                            (click)="renewContract()">Renew</a>
                          <a class="dropdown-item" title="Clone the current contract. Current contract will become inactive." 
                                            href="#" *ngIf="(houseContract.isRenewable != true)"
                                            (click)="cloneContract()">Clone</a>
                          <a class="dropdown-item" title="$$$ Receivables/Payments"
                                            href="#" 
                                            routerLink="../../receivables/{{houseContract.id}}">Payments($$$)</a>
                          <a class="dropdown-item" title="Save Contract"
                                            href="#" 
                                            (click)="saveRecord()">Save</a>
                        </div>
                    </div>
                    
                    <a href="#" *ngIf="houseContract.next_contract_id != null && houseContract.next_contract_id != 0" 
                        routerLink="../../house_contract/{{houseContract.next_contract_id}}" title="Next contract">
                        <fa-icon [icon]="['fas', 'forward']"></fa-icon>
                    </a>
          		</div>
          	</td>
          </tr>	

          <tr>
          	<td>
            	<div class="field">
          
	            <p>User: 
                    <a href="#"
                        routerLink="../../editUser/{{houseContract.user.id}}" title="User details">
                        <b>{{houseContract.user.fullName}} ({{houseContract.roles}})</b>
                    </a> - ({{getDuration()}})
	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
          	<td>
            	<div class="field">
	            <p>Contract Start Date(dd-mm-yyyy): 
                  <h4r-date-picker (onDateChanged)="startDateChanged($event)" #contractStartDate name="contract_start_date" value="{{houseContract.contract_start_date}}"></h4r-date-picker>
	             </p>
          
          		</div>
          	</td>
          </tr>

			<tr>
          	<td>
            	<div class="field">
	            <p>Contract End Date(dd-mm-yyyy): 
                <h4r-date-picker (onDateChanged)="endDateChanged($event)" #contractEndDate name="contract_end_date" value="{{houseContract.contract_end_date}}"></h4r-date-picker>
	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
                <td>
                  <div class="field">
                  <p>Contract Type: 
                        <fa-icon style="cursor:pointer" [ngStyle]="{'color':houseContract.contract_type != 1? '#292d2a54' : '' }" [icon]="['fas', 'sign-in-alt']" (click)="changeContractType(1)"></fa-icon>
                        Income
                        &nbsp;&nbsp;
                        
                        <fa-icon style="cursor:pointer" [ngStyle]="{'color':houseContract.contract_type != 2? '#292d2a54' : '' }" [icon]="['fas', 'sign-out-alt']" (click)="changeContractType(2)"></fa-icon>
                        Expense
                   </p>
            
                    </div>
                </td>
            </tr>

          <tr>
          	<td>
            	<div class="field">
          
	            <p>Total Contract Amount: <input type="text" name="annual_rent_amount" [(ngModel)]="houseContract.annual_rent_amount" />

	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr>
                <td>
                  <div class="field">
            
                  <p title="One time contract will post a onetime paymnet and will inactivated the contract. If you are cloning or renewing from original contract, the original contract will remain active.">Onetime payment?: <input type="checkbox" name="onetime_contract" [(ngModel)]="houseContract.onetime_contract" 
                                                (change)="oneTimeContractSettingChanged()"/>
                   </p>
            
                    </div>
                </td>
            </tr>

          <tr>
          	<td>
            	<div class="field">
          
	            <p>Installment Contract Amount: <input [readonly]="houseContract.onetime_contract == true" type="text" name="monthly_rent_amount" [(ngModel)]="houseContract.monthly_rent_amount" />

	             </p>
          
          		</div>
          	</td>
          </tr>

          <tr><td><div class="field">
              
              <p>Contract Details: 
                  <textarea name="content" [(ngModel)]='houseContract.note' rows="3" cols="50" placeholder="Contract Details">                             
                    </textarea>
                    </p>          
          </div></td></tr>

          <tr><td><div class="field">
              
              <p>Active?: 
                  <input type="checkbox" name="active" [(ngModel)]="houseContract.active">
                    </p>          
          </div></td></tr>
          <tr>
            <td>
                <button type="button" class="btn btn-success"  (click)="saveRecord()">Save</button>
            </td>
          </tr>
        </table>

      </form>
      </td>
      <td>
          <h4r-house-contract-pics *ngIf="newContract == false" [houseContract]="houseContract"></h4r-house-contract-pics>
      </td>
      </tr><tr>
      <td colspan="2" width="100%">
          <h4r-house-contract-notes *ngIf="newContract == false" [houseContract]="houseContract"></h4r-house-contract-notes>
      </td>
  </tr>
  </table>
</div>
