a.ActiveContract {
	font-size:10px;
	color: green;
}

a.renewable {
	color:orange
}

a.InActiveContract {
	font-size:10px;
	font-style: oblique;
	color: #959ba5;
}
a.NewContract {
	font-size:10px;
	color: black;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

