
<table width="60%">
    <tr>
        <td width="40%">
    User and house associations
        </td>
        <td width="60%" *ngIf="isAdminUser()">
        <ng-select name="community_id" [items]="communities"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Community"
                   [(ngModel)]="community_id"
                   (change)="refreshHouseUserLinks()">
           </ng-select>
        </td>
    </tr>
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
<table width="100%">
    <tr>
        <th>House</th>
        <th>{{staticRoles["TENANT"].label}}</th>
        <th>{{staticRoles["LAND_LORD"].label}}</th>
        <th>{{staticRoles["MAINTENANCE"].label}}</th>
        <th title="Govt. Agency for taxes">{{staticRoles["AGENCY_COLLECTION_MGR"].label}}</th><!--This is used as maintenance in the past-->
        <!--<th>{{staticRoles["ACCOUNTANT"].label}}</th> -->
        <th>{{staticRoles["PROPERTY_MGMT_MGR"].label}}</th>
        <!--<th>{{staticRoles["PROPERTY_MGMT_EMP"].label}}</th> -->
        
        <!--<th>{{staticRoles["AGENCY_COLLECTION_EMP"].label}}</th> -->
        
    </tr>
    <tr *ngIf="errorMessage != ''">
        <td colspan="8"  style="color:red">{{errorMessage}}</td>
    </tr>
    <tr *ngFor="let user_house_link of pageSettings.getPaginatedList(); let i = index">
        <td>
           <a routerLink="../house/{{user_house_link.house.id}}">{{user_house_link.house.name}}</a>
        </td>
        <td>
            <ng-select name="tenant" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Tenant"
                   [(ngModel)]="user_house_link.tenant_id"
                   (change)="houseUserLinkChanged(user_house_link, 'tenant')">
                </ng-select>
                <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.tenant_active_contract"
                    [inactiveContracts]="user_house_link.tenant_inactive_contracts"
                    [userId]="user_house_link.tenant_id"
                    [hasRole]="user_house_link.tenant"
                    [role]="'TENANT'">
                </h4r-user-house-links-dropdown>
                &nbsp;
        </td>
        <td>
            <ng-select name="landLord" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Landlord"
                   [(ngModel)]="user_house_link.land_lord_id"
                   (change)="houseUserLinkChanged(user_house_link, 'land_lord')">
             </ng-select>
            <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.land_lord_active_contract"
                    [inactiveContracts]="user_house_link.land_lord_inactive_contracts"
                    [userId]="user_house_link.land_lord_id"
                    [hasRole]="user_house_link.land_lord"
                    [role]="'LAND_LORD'">
            </h4r-user-house-links-dropdown>

             &nbsp;
                
        </td>
        <td>
                <ng-select name="maintenance" [items]="users"
                       bindLabel="fullName"
                       bindValue="id"
                       placeholder="Maintenance"
                       [(ngModel)]="user_house_link.maintenance_id"
                       (change)="houseUserLinkChanged(user_house_link, 'maintenance')">
                </ng-select>

                <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.maintenance_active_contract"
                    [inactiveContracts]="user_house_link.maintenance_inactive_contracts"
                    [userId]="user_house_link.maintenance_id"
                    [hasRole]="user_house_link.maintenance"
                    [role]="'MAINTENANCE'">
                </h4r-user-house-links-dropdown>
                &nbsp;
        </td>
        <td>
                <ng-select name="agency_coll_mgr" [items]="users"
                       bindLabel="fullName"
                       bindValue="id"
                       placeholder="Agency Mgr"
                       [(ngModel)]="user_house_link.agency_collection_mgr_id"
                       (change)="houseUserLinkChanged(user_house_link, 'agency_collection_mgr')">
                    </ng-select>
                <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.agency_collection_mgr_active_contract"
                    [inactiveContracts]="user_house_link.agency_collection_mgr_inactive_contracts"
                    [userId]="user_house_link.agency_collection_mgr_id"
                    [hasRole]="user_house_link.agency_collection_mgr"
                    [role]="'AGENCY_COLLECTION_MGR'">
                </h4r-user-house-links-dropdown>

                &nbsp;
        </td>
        <td>
                <ng-select name="property_mgmt_mgr" [items]="users"
                       bindLabel="fullName"
                       bindValue="id"
                       placeholder="Prop Mgr"
                       [(ngModel)]="user_house_link.property_mgmt_mgr_id"
                       (change)="houseUserLinkChanged(user_house_link, 'property_mgmt_mgr')">
                </ng-select>
                <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.property_mgmt_mgr_active_contract"
                    [inactiveContracts]="user_house_link.property_mgmt_mgr_inactive_contracts"
                    [userId]="user_house_link.property_mgmt_mgr_id"
                    [hasRole]="user_house_link.property_mgmt_mgr"
                    [role]="'PROPERTY_MGMT_MGR'">
                </h4r-user-house-links-dropdown>
                &nbsp;
        </td>
        <!--
        <td>
            <ng-select name="accountant" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Accountant"
                   [(ngModel)]="user_house_link.accountant_id"
                   (change)="houseUserLinkChanged(user_house_link, 'accountant')">
            </ng-select>
            <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.accountant_active_contract"
                    [inactiveContracts]="user_house_link.accountant_inactive_contracts"
                    [userId]="user_house_link.accountant_id"
                    [hasRole]="user_house_link.accountant"
                    [role]="'ACCOUNTANT'">
            </h4r-user-house-links-dropdown>
            &nbsp;
        </td>
        -->
        <!--
        <td>
            <ng-select name="property_mgmt_emp" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Prop Mgr Emp"
                   [(ngModel)]="user_house_link.property_mgmt_emp_id"
                   (change)="houseUserLinkChanged(user_house_link, 'property_mgmt_emp')">
            </ng-select>
            <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.property_mgmt_emp_active_contract"
                    [inactiveContracts]="user_house_link.property_mgmt_emp_inactive_contracts"
                    [userId]="user_house_link.property_mgmt_emp_id"
                    [hasRole]="user_house_link.property_mgmt_emp"
                    [role]="'PROPERTY_MGMT_EMP'">
            </h4r-user-house-links-dropdown>
            &nbsp;
        </td>
        -->
        <!--
        <td>
            <ng-select name="agency_coll_emp" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Agency Emp"
                   [(ngModel)]="user_house_link.agency_collection_emp_id"
                   (change)="houseUserLinkChanged(user_house_link, 'agency_collection_emp')">
            </ng-select>
            <h4r-user-house-links-dropdown
                    [userHouseLink]="user_house_link"
                    [activeContract]="user_house_link.agency_collection_emp_active_contract"
                    [inactiveContracts]="user_house_link.agency_collection_emp_inactive_contracts"
                    [userId]="user_house_link.agency_collection_emp_id"
                    [hasRole]="user_house_link.agency_collection_emp"
                    [role]="'AGENCY_COLLECTION_EMP'">
            </h4r-user-house-links-dropdown>
            &nbsp;
        </td>
        -->
    </tr>
   
</table>
<h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>