<table>
    <tr>
        <th>House</th>
        <th>{{staticRoles["TENANT"].label}}</th>
        <th>{{staticRoles["LAND_LORD"].label}}</th>
        <th>{{staticRoles["ACCOUNTANT"].label}}</th>
        <th>{{staticRoles["PROPERTY_MGMT_MGR"].label}}</th>
        <th>{{staticRoles["PROPERTY_MGMT_EMP"].label}}</th>
        <th>{{staticRoles["AGENCY_COLLECTION_MGR"].label}}</th>
        <th>{{staticRoles["AGENCY_COLLECTION_EMP"].label}}</th>
    </tr>
    <tr *ngIf="errorMessage != ''">
        <td colspan="8">{{errorMessage}}</td>
    </tr>
    <tr *ngFor="let user_house_link of userHouseLinks">
        <td>
           {{user_house_link.house.name}} 
        </td>
        <td>
            <ng-select name="tenant" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Tenant"
                   [(ngModel)]="user_house_link.tenant_id"
                   (change)="houseUserLinkChanged(user_house_link, 'tenant')">
                </ng-select>
                <span *ngIf="user_house_link.tenant_active_contract">
                    <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.tenant_active_contract.id}}">
                        <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                    </a>
                </span>
                <span *ngIf="user_house_link.tenant_inactive_contracts">
                    <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.tenant_inactive_contracts[0].id}}">
                        <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.tenant_inactive_contracts.length}})
                    </a>
                </span>
                <span *ngIf="!user_house_link.tenant_active_contract &&  (user_house_link.tenant == true)">
                    <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.tenant,user_house_link.tenant_id , 'TENANT')">
                        <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                    </a>
                </span>
        </td>
        <td>
            <ng-select name="landLord" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Landlord"
                   [(ngModel)]="user_house_link.land_lord_id"
                   (change)="houseUserLinkChanged(user_house_link, 'land_lord')">
             </ng-select>
             <span *ngIf="user_house_link.land_lord_active_contract">
                    <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.land_lord_active_contract.id}}">
                        <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                    </a>
             </span>
             <span *ngIf="user_house_link.land_lord_inactive_contracts">
                    <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.land_lord_inactive_contracts[0].id}}">
                        <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.land_lord_inactive_contracts.length}})
                    </a>
             </span>
             <span *ngIf="!user_house_link.land_lord_active_contract &&  (user_house_link.land_lord == true)">
                    <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.land_lord,user_house_link.land_lord_id, 'LAND_LORD')">
                        <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                    </a>
             </span>
                
        </td>
        <td>
            <ng-select name="accountant" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Accountant"
                   [(ngModel)]="user_house_link.accountant_id"
                   (change)="houseUserLinkChanged(user_house_link, 'accountant')">
            </ng-select>
            <span *ngIf="user_house_link.accountant_active_contract">
                    <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.accountant_active_contract.id}}">
                        <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                    </a>
                </span>
                <span *ngIf="user_house_link.accountant_inactive_contracts">
                    <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.accountant_inactive_contracts[0].id}}">
                        <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.accountant_inactive_contracts.length}})
                    </a>
                </span>
                <span *ngIf="!user_house_link.accountant_active_contract &&  (user_house_link.accountant == true)">
                    <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.accountant,user_house_link.accountant_id, 'ACCOUNTANT')">
                        <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                    </a>
            </span>
        </td>
        <td>
            <ng-select name="property_mgmt_mgr" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Prop Mgr"
                   [(ngModel)]="user_house_link.property_mgmt_mgr_id"
                   (change)="houseUserLinkChanged(user_house_link, 'property_mgmt_mgr')">
            </ng-select>
            <span *ngIf="user_house_link.property_mgmt_mgr_active_contract">
                <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.property_mgmt_mgr_active_contract.id}}">
                    <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                </a>
            </span>
            <span *ngIf="user_house_link.property_mgmt_mgr_inactive_contracts">
                <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.property_mgmt_mgr_inactive_contracts[0].id}}">
                    <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.property_mgmt_mgr_inactive_contracts.length}})
                </a>
            </span>
            <span *ngIf="!user_house_link.property_mgmt_mgr_active_contract &&  (user_house_link.property_mgmt_mgr == true)">
                <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.property_mgmt_mgr,user_house_link.property_mgmt_mgr_id, 'PROPERTY_MGMT_MGR')">
                    <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                </a>
            </span>
        </td>
        <td>
            <ng-select name="property_mgmt_emp" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Prop Mgr Emp"
                   [(ngModel)]="user_house_link.property_mgmt_emp_id"
                   (change)="houseUserLinkChanged(user_house_link, 'property_mgmt_emp')">
            </ng-select>
            <span *ngIf="user_house_link.property_mgmt_emp_active_contract">
                <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.property_mgmt_emp_active_contract.id}}">
                    <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                </a>
            </span>
            <span *ngIf="user_house_link.property_mgmt_emp_inactive_contracts">
                <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.property_mgmt_emp_inactive_contracts[0].id}}">
                    <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.property_mgmt_emp_inactive_contracts.length}})
                </a>
            </span>
            <span *ngIf="!user_house_link.property_mgmt_emp_active_contract &&  (user_house_link.property_mgmt_emp == true)">
                <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.property_mgmt_emp,user_house_link.property_mgmt_emp_id, 'PROPERTY_MGMT_EMP')">
                    <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                </a>
            </span>
        </td>
        <td>
            <ng-select name="agency_coll_mgr" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Agency Mgr"
                   [(ngModel)]="user_house_link.agency_collection_mgr_id"
                   (change)="houseUserLinkChanged(user_house_link, 'agency_collection_mgr')">
                </ng-select>
             <span *ngIf="user_house_link.agency_collection_mgr_active_contract">
                <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.agency_collection_mgr_active_contract.id}}">
                    <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                </a>
            </span>
            <span *ngIf="user_house_link.agency_collection_mgr_inactive_contracts">
                <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.agency_collection_mgr_inactive_contracts[0].id}}">
                    <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.agency_collection_mgr_inactive_contracts.length}})
                </a>
            </span>
            <span *ngIf="!user_house_link.agency_collection_mgr_active_contract &&  (user_house_link.agency_collection_mgr == true)">
                <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.agency_collection_mgr, user_house_link.agency_collection_mgr_id, 'AGENCY_COLLECTION_MGR')">
                    <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                </a>
            </span>
        </td>
        <td>
            <ng-select name="agency_coll_emp" [items]="users"
                   bindLabel="fullName"
                   bindValue="id"
                   placeholder="Agency Emp"
                   [(ngModel)]="user_house_link.agency_collection_emp_id"
                   (change)="houseUserLinkChanged(user_house_link, 'agency_collection_emp')">
            </ng-select>
            <span *ngIf="user_house_link.agency_collection_emp_active_contract">
                <a class='ActiveContract' title="Active contract" href="#" routerLink="../house_contract/{{user_house_link.agency_collection_emp_active_contract.id}}">
                    <!--<img [src]="activePng" height="15" width="30"/> -->
                        Active
                </a>
            </span>
            <span *ngIf="user_house_link.agency_collection_emp_inactive_contracts">
                <a class='InActiveContract' href="#" title="Inactive contracts" routerLink="../house_contract/{{user_house_link.agency_collection_emp_inactive_contracts[0].id}}">
                    <!--<img [src]="inactivePng" height="15" width="30"/>-->
                        Inactive({{user_house_link.agency_collection_emp_inactive_contracts.length}})
                </a>
            </span>
            <span *ngIf="!user_house_link.agency_collection_emp_active_contract &&  (user_house_link.agency_collection_emp == true)">
                <a href="#" class='NewContract' title="New contract" (click)="createContract(user_house_link, user_house_link.agency_collection_emp,user_house_link.agency_collection_emp_id, 'AGENCY_COLLECTION_EMP')">
                    <!--<img [src]="newcontractPng" height="15" width="30"/> -->
                        Create(+)
                </a>
            </span>
        </td>
    </tr>
   
</table>