/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  padding-top: 5rem;
}



table{
  width:100%;
  
}
th, td {
    padding: 8px;
    text-align:left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:#f5f5f5;
}
th{
  height:50px;
  background-color:green;
  color:white;
}
