<table><tr><td>
	Performanace charts for House : 
	<ng-select name="house_id" [items]="houses"
    			bindLabel="name"
                bindValue="id"
                placeholder="House"
                [(ngModel)]="house_id" 
                (change)="houseChanged()">
    </ng-select>
</td>
</tr>
</table>
<br/><br/>
<nvd3 #discreteBarChartYearlyTag  [options]="discreteBarChartOptions" [data]="discreteBarChartDataYearly"></nvd3>

<table><tr><td>
Year 
    <ng-select name="year" [items]="years"
    			bindLabel="year"
                bindValue="year"
                placeholder="Year"
                [(ngModel)]="year" 
                (change)="yearChanged()">
    </ng-select>

</td>
</tr></table>
<br/><br/>
<!--Here dropdown to show the list of houses that you are an accountant -->
<nvd3 #discreteBarChartMonthlyTag  [options]="discreteBarChartOptions" [data]="discreteBarChartDataMonthly"></nvd3>


