<h4 title="Notes"><fa-icon [icon]="['fas', 'comments']"></fa-icon>({{pageSettings.list.length}})</h4>
<p> 
    <br/>
    <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
        <span *ngFor="let houseNote of pageSettings.getPaginatedList(); let i = index">
            <h4r-house-note [houseNote] = "houseNote" (onDeleteNoteClick)="deleteNote($event)"></h4r-house-note>
        </span>
    
    <h4r-pagination [pageSettings]="pageSettings"></h4r-pagination>
    <br/>
    <span>
        <input type="checkbox" name="private_note" [(ngModel)]='newHouseNote.private_note' /> Private note?
        <br/>
         <textarea name="content" [(ngModel)]='newHouseNote.note' rows="3" cols="50" placeholder="Note"></textarea>
        <br/>
         <button type="button" class="btn btn-success"  (click)="attachHouseNote()">Save Note</button>
    </span>      
</p>
